
.ts-control {
    background: none;
    border: none;
    padding-left: 0;
}

.ts-control > input {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

.ts-wrapper.has-items > .ts-control {
    background: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

.ts-control, .ts-wrapper.single.input-active .ts-control {
    background: none;
}

.ts-wrapper.multi .ts-control > div {
    background: #2d2d2d;
    border: 0 solid #d0d0d0;
    color: #fff;
    cursor: pointer;
    margin: -1px 3px 3px 0;
    padding: 6px 6px;
}