<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index :: header}">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- UIkit CSS -->
    <link rel="stylesheet" th:href="@{/css/uikit.css}"
          href="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script th:src="@{/js/uikit.js}" src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit.min.js"></script>
    <script th:src="@{/js/uikit-icons.js}"
            src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit-icons.min.js"></script>
</head>
<body>
<progress id="js-progressbar" class="upload-progress uk-progress uk-position-absolute" value="0" max="100" hidden></progress>

<div class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container uk-background-secondary">
    <img src="/img/pexels-anton-h-145707.jpg" alt="" data-uk-cover data-uk-img>
    <div class="uk-flex uk-flex-column uk-height-viewport uk-position-z-index uk-position-relative"
         data-uk-height-viewport="min-height: 200" style="background-color: rgba(0, 0, 0, 0.5);">

        <!-- NAV -->
        <div class="uk-position-top" th:replace="~{index :: header-navigation}">
            <div class="uk-container">
                <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar>
                    <div class="uk-navbar-left">
                        <div class="uk-navbar-item">
                        </div>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li class="uk-visible@s"><a th:href="@{/}" href="" data-uk-icon="home"></a></li>
                            <li class="uk-visible@s uk-active"><a th:href="@{/collections.html}" href="">Collections</a></li>
                            <li class="uk-visible@s"><a th:href="@{/tags.html}" href="">NFC Tags</a></li>
                            <li class="uk-visible@s uk-active">
                                <a class="js-upload" uk-form-custom>
                                    <input type="file" multiple>
                                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Upload</button>
                                </a>
                            </li>
                            <li class="uk-hidden@m"><a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon
                                   href="#offcanvas-nav"></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- /NAV -->
        <!-- TEXT -->
        <div class="uk-section uk-flex-auto uk-flex-row">
            <div class="uk-container">
                <div uk-grid class="uk-grid-match">
                    <div>
                        <h1 th:text="#{collections.page.heading}">All collections</h1>
                    </div>
                    <div class="uk-width-expand">
                        <div>
                            <a class="uk-button uk-align-right uk-button-default" style="margin-top: 10px; margin-bottom: 0" th:href="@{/collections/new.html}" th:text="#{collections.new.link}">new</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-container uk-margin-top">
                <table class="uk-table uk-table-middle uk-table-small uk-table-divider uk-table-responsive">
                    <thead>
                    <tr>
                        <th th:text="#{collections.label}">Collections</th>
                        <th th:text="#{collections.table.header.info}"class="uk-width-large">Info</th>
                        <th th:text="#{tags.table.header.tag}">Tag</th>
                        <th class="uk-width-small"></th>
                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                    <tr th:each="collection : ${collections}">
                        <td><a class="uk-link" href="edit_collection.html" th:href="@{'/collections/' + ${collection.id} + '.html'}" th:text="${collection.name}">Connie auf dem Bauernhof</a></td>
                        <td>
                            <div th:if="${collection.mediaList.empty}"><span>Empty</span></div>
                            <div th:unless="${collection.mediaList.empty}"><span th:text="${#lists.size(collection.mediaList)}">24</span> Episodes</div>
                            <div th:unless="${collection.mediaList.empty}"><span th:text="${collection.duration}">54:40</span>min playtime</div>
                        </td>
                        <td>
                            <div th:if="${collection.connectedTags}" th:remove="all-but-first">
                                <div><a th:each="connectedTag : ${collection.connectedTags}" data-uk-icon="arrow-right" th:href="@{'/tags/' + ${connectedTag.id} + '.html'}" href="edit_tag.html" th:text="${connectedTag.name}">A1123</a></div>
                                <div><a th:each="connectedTag : ${collection.connectedTags}" data-uk-icon="arrow-right" th:href="@{'/tags/' + ${connectedTag.id} + '.html'}" href="edit_tag.html" th:text="${connectedTag.name}">A1123</a></div>
                            </div>
                        </td>
                        <td>
                            <a class="uk-button uk-button-default uk-margin-small-top" data-uk-icon="cog"  th:href="@{'/collections/' + ${collection.id} + '.html'}" href="edit_collection.html" >Edit</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /TEXT -->
        <div th:replace="~{index :: footer}"></div>
    </div>
</div>
<!-- OFFCANVAS -->
<div th:replace="~{index :: offset-navigation}" id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
        <ul class="uk-nav uk-nav-default">
            <li><a th:href="@{/}" href="" data-uk-icon="home"></a></li>
            <li class="uk-active"><a th:href="@{/collections.html}" href="">Episoden</a></li>
            <li><a th:href="@{/tags.html}" href="">NFC Tags</a></li>
            <li><a th:href="@{/statistics.html}" href="#">Statistik</a></li>
        </ul>
    </div>
</div>
<!-- /OFFCANVAS -->

</body>
<script th:replace="~{index :: upload}"></script>

</html>
