<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index :: header}">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- UIkit CSS -->
    <link rel="stylesheet" th:href="@{/css/uikit.css}"
          href="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script th:src="@{/js/uikit.js}" src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit.min.js"></script>
    <script th:src="@{/js/uikit-icons.js}"
            src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit-icons.min.js"></script>
</head>
<body>
<progress id="js-progressbar" class="upload-progress uk-progress uk-position-absolute" value="0" max="100"
          hidden></progress>

<div class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container uk-background-secondary">
    <img src="/img/pexels-anton-h-145707.jpg" alt="" data-uk-cover data-uk-img>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-z-index uk-position-relative"
         data-uk-height-viewport="min-height: 200" style="background-color: rgba(0, 0, 0, 0.5);">

        <!-- NAV -->
        <div class="uk-position-top" th:replace="~{index :: header-navigation}">
            <div class="uk-container uk-container-small">
                <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar>
                    <div class="uk-navbar-left">
                        <div class="uk-navbar-item">
                            <!--                            <a class="uk-logo" href=""><img src="img/cover-logo.svg" alt="Logo"></a>-->
                        </div>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active uk-visible@m"><a th:href="@{/}" href="" data-uk-icon="home"></a></li>
                            <li class="uk-visible@s uk-active"><a th:href="@{/collections.html}" href="">Episoden</a>
                            </li>
                            <li class="uk-visible@s"><a th:href="@{/tags.html}" href="">NFC Tags</a></li>
                            <li class="uk-visible@s uk-active">
                                <a class="js-upload" uk-form-custom>
                                    <input type="file" multiple>
                                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Upload
                                    </button>
                                </a>
                            </li>
                            <li class="uk-hidden@m"><a class="uk-navbar-toggle" data-uk-toggle
                                                       data-uk-navbar-toggle-icon
                                                       href="#offcanvas-nav"></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- /NAV -->
        <!-- TEXT -->
        <div class="uk-container uk-flex-auto">
            <form class="uk-form-stacked" method="post" th:href="@{'/media/' + ${media.id} + '.html'}">
                <fieldset class="uk-fieldset">

                    <legend class="uk-legend" th:text="${media.name}">Legend</legend>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-name"
                               th:text="#{media.new.name.label}">Name</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-stacked-name" type="text" th:value="${media.name}"
                                   name="name" th:placeholder="#{media.new.name.placeholder}"
                                   placeholder="Some text...">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-select" th:text="#{tag.new.collection.label}">Connected
                            Collection</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" id="form-stacked-select" autocomplete="off" required="required"
                                    name="selected-collection">
                                <option value="" disabled selected hidden th:text="#{media.new.collection.placeholder}">
                                    None
                                </option>
                                <option th:each="collection : ${collections}" th:value="${collection.id}"
                                        th:text="${collection.name}"
                                        th:selected="${connectedCollection != null} and ${#strings.equals(collection.id, connectedCollection.id)}">
                                    Thomas Edison
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-margin uk-grid-divider uk-grid-small" uk-grid>
                        <div>
                            <a class="uk-button uk-button-secondary" th:href="@{/collections.html}" th:text="#{button.cancel.label}">Cancel</a>
                        </div>
                        <div>
                            <button class="uk-button uk-button-default" type="submit" th:text="#{button.save.label}">Speichern</button>
                        </div>
                        <div class="uk-width-expand" style="margin-bottom: 0">
                            <a id="delete-confirm" class="uk-button uk-button-danger uk-align-right" href="#modal-sections" uk-toggle
                               th:text="#{button.delete.label}">Delete</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <!-- /TEXT -->
        <div th:replace="~{index :: footer}"></div>
    </div>
</div>
<!-- OFFCANVAS -->
<div th:replace="~{index :: offset-navigation}" id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
        <ul class="uk-nav uk-nav-default">
            <li><a th:href="@{/}" href="" data-uk-icon="home"></a></li>
            <li class="uk-active"><a th:href="@{/collections.html}" href="">Episoden</a></li>
            <li><a th:href="@{/tags.html}" href="">NFC Tags</a></li>
            <li><a th:href="@{/statistics.html}" href="#">Statistik</a></li>
        </ul>
    </div>
</div>
<!-- /OFFCANVAS -->

<div th:fragment="delete-modal">
    <div id="modal-sections" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title" th:text="#{dialog.delete.header}">Modal Title</h2>
            </div>
            <div class="uk-modal-body">
                <p th:utext="#{dialog.delete.body}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button"
                        th:text="#{button.cancel.label}">Cancel
                </button>
                <button id="delete-confirmed" class="uk-button uk-button-danger uk-modal-close" type="button"
                        th:text="#{button.delete.label}">Delete
                </button>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('delete-confirmed').addEventListener('click', function (e) {
            var xhr = new XMLHttpRequest();

            xhr.open("DELETE", window.location, true);
            xhr.onload = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    const deleteResponse = JSON.parse(xhr.responseText);
                    if (deleteResponse.status === 200 && deleteResponse.returnUrl) {
                        window.location = deleteResponse.returnUrl;
                    } else {
                        alert(deleteResponse.message);
                    }
                } else {
                    alert(xhr.response)
                }
            }
            xhr.send(null);
        })
    </script>
</div>
</body>
<script th:replace="~{index :: upload}"></script>
<script type="text/javascript">

    new TomSelect('#form-stacked-select', {});
</script>

</html>
