<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <title>tmanager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- UIkit CSS -->
    <link rel="stylesheet" th:href="@{/css/uikit.css}"  href="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script th:src="@{/js/uikit.js}" src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit.min.js"></script>
    <script th:src="@{/js/uikit-icons.js}"
            src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/tom-select.min.css}"  href=""/>
    <link rel="stylesheet" th:href="@{/css/tomselect-uikit.css}"  href=""/>
    <script th:src="@{/js/tom-select.complete.min.js}" src=""></script>
</head>
<body>
<progress id="js-progressbar" class="upload-progress uk-progress uk-position-absolute" value="0" max="100" hidden></progress>

<div class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container uk-background-secondary">
    <img src="/img/pexels-anton-h-145707.jpg" alt="" data-uk-cover data-uk-img>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-z-index uk-position-relative"
         data-uk-height-viewport="min-height: 200" style="background-color: rgba(0, 0, 0, 0.5);">

        <!-- NAV -->
        <div class="uk-position-top" th:fragment="header-navigation">
            <div class="uk-container">
                <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar>
                    <div class="uk-navbar-left">
                        <div class="uk-navbar-item">
                        </div>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li th:classappend="${page == 'HOME'} ? 'uk-active' : ''" class="uk-visible@s"><a th:href="@{/}" href="" data-uk-icon="home"></a></li>
                            <li th:classappend="${page == 'COLLECTIONS'} ? 'uk-active' : ''" class="uk-visible@s"><a th:href="@{/collections.html}" th:text="#{collections.label}" th:title="#{collections.title}" href="">Episoden</a></li>
                            <li th:classappend="${page == 'TAGS'} ? 'uk-active' : ''" class="uk-visible@s"><a th:href="@{/tags.html}" href="" th:text="#{tags.label}" th:title="#{tags.title}">NFC Tags</a></li>
                            <li class="uk-visible@s uk-active">
                                <a class="js-upload" uk-form-custom>
                                    <input type="file" multiple accept="audio/*">
                                    <button class="uk-button uk-button-default" type="button" tabindex="-1" th:title="#{action.upload.title}" th:text="#{action.upload.label}">Upload
                                    </button>
                                </a>
                            </li>
                            <li class="uk-hidden@s"><a class="uk-navbar-toggle" data-uk-toggle
                                                       data-uk-navbar-toggle-icon href="#offcanvas-nav"></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- /NAV -->
        <!-- TEXT -->
        <div class="uk-container uk-container-small uk-flex-auto uk-text-center"
             data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300">
            <h1 class="uk-heading-primary animate uk-invisible" style="font-weight: 700;">tmanager</h1>
            <div class="uk-margin-medium-top animate uk-invisible" data-uk-margin
                 data-uk-scrollspy-class="uk-animation-fade uk-invisible">
                <a class="uk-button uk-button-default uk-button-large uk-width-2-3 uk-width-auto@s"
                   data-uk-icon="arrow-right" title="" th:text="#{collections.label}" th:title="#{collections.title}" th:href="@{/collections.html}">Episoden</a>
            </div>
            <div class="uk-margin-medium-top animate uk-invisible" data-uk-margin
                 data-uk-scrollspy-class="uk-animation-fade uk-invisible">
                <a class="uk-button uk-button-default uk-button-large uk-width-2-3 uk-width-auto@s"
                   data-uk-icon="arrow-right" title="" th:text="#{tags.label}" th:title="#{tags.label}" th:href="@{/tags.html}">Tags</a>
            </div>
        </div>
        <!-- /TEXT -->
        <!-- FOOT -->
        <div th:fragment="footer" class="uk-position-bottom-center uk-position-small">
            <span class="uk-text-small uk-text-center">&copy; <span>2022</span> | <a href="https://dedicatedcode.com"
                                                                                     title="Created by Daniel Graf">Created by Daniel Graf</a></span>
        </div>
        <!-- /FOOT -->
    </div>
</div>
<!-- OFFCANVAS -->
<div th:fragment="offset-navigation" id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
        <ul class="uk-nav uk-nav-default">
            <li th:classappend="${page == 'HOME' ? 'uk-active' : ''}"><a th:href="@{/}" href="" data-uk-icon="home"></a></li>
            <li th:classappend="${page == 'COLLECTIONS' ? 'uk-active' : ''}"><a th:href="@{/collections.html}" href="" th:text="#{collections.label}" th:title="#{collections.title}">Episoden</a></li>
            <li th:classappend="${page == 'TAGS' ? 'uk-active' : ''}"><a th:href="@{/tags.html}" href="" th:text="#{tags.label}" th:title="#{tags.title}">NFC Tags</a></li>
            <li th:classappend="${page == 'STATISTIC' ? 'uk-active' : ''}"><a th:href="@{/statistics.html}" href="#" th:text="#{statistics.label}" th:title="#{statistics.title}">Statistik</a></li>
        </ul>
    </div>
</div>
<!-- /OFFCANVAS -->

</body>
<script th:fragment="upload" type="text/javascript" th:inline="javascript">
    window.addEventListener('load', () => {
        var bar = document.getElementById('js-progressbar');


        /*<![CDATA[*/
        const uploadEndpoint = /*[[${collection != null ? '/upload/' + collection.id : '/upload'}]]*/  '/upload';
        const successMessage = /*[[#{upload.success.message}]]*/ 'upload successful'
        const errorMessage = /*[[#{upload.error.message}]]*/ 'upload successful'

            /*]]>*/

        UIkit.upload('.js-upload', {

            url: uploadEndpoint,
            multiple: true,

            beforeSend: function (environment) {
                console.log('beforeSend', arguments);
            },
            beforeAll: function () {
                console.log('beforeAll', arguments);
            },
            load: function () {
                console.log('load', arguments);
            },
            error: function () {
                console.log('error', arguments);
                UIkit.notification(`<span uk-icon='icon: check'></span> ${errorMessage}`, {pos: 'top-center', status: 'danger'})


            },
            complete: function () {
                console.log('complete', arguments);

            },

            loadStart: function (e) {
                console.log('loadStart', arguments);

                bar.removeAttribute('hidden');
                bar.max = e.total;
                bar.value = e.loaded;
            },

            progress: function (e) {
                console.log('progress', arguments);

                bar.max = e.total;
                bar.value = e.loaded;
            },

            loadEnd: function (e) {
                console.log('loadEnd', arguments);
                bar.max = e.total;
                bar.value = e.loaded;
            },

            completeAll: function () {
                UIkit.notification(`<span uk-icon='icon: check'></span> ${successMessage}`, {pos: 'top-center', status: 'success'})

                setTimeout(function () {
                    bar.setAttribute('hidden', 'hidden');
                }, 1000);

            }
        });
    })


</script>
</html>
