<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index :: header}">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- UIkit CSS -->
    <link rel="stylesheet" th:href="@{/css/uikit.css}"
          href="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script th:src="@{/js/uikit.js}" src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit.min.js"></script>
    <script th:src="@{/js/uikit-icons.js}"
            src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit-icons.min.js"></script>
</head>
<body>
<progress id="js-progressbar" class="upload-progress uk-progress uk-position-absolute" value="0" max="100" hidden></progress>

<div class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container uk-background-secondary">
    <img src="/img/pexels-anton-h-145707.jpg" alt="" data-uk-cover data-uk-img>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-z-index uk-position-relative"
         data-uk-height-viewport="min-height: 200" style="background-color: rgba(0, 0, 0, 0.5);">

        <!-- NAV -->
        <div class="uk-position-top" th:replace="~{index :: header-navigation}">
            <div class="uk-container uk-container-small">
                <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar>
                    <div class="uk-navbar-left">
                        <div class="uk-navbar-item">
                            <!--                            <a class="uk-logo" href=""><img src="img/cover-logo.svg" alt="Logo"></a>-->
                        </div>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active uk-visible@m"><a th:href="@{/}" href="" data-uk-icon="home"></a></li>
                            <li class="uk-visible@s uk-active"><a th:href="@{/collections.html}" href="">Episoden</a></li>
                            <li class="uk-visible@s"><a th:href="@{/tags.html}" href="">NFC Tags</a></li>
                            <li class="uk-visible@s uk-active">
                                <a class="js-upload" uk-form-custom>
                                    <input type="file" multiple>
                                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Upload</button>
                                </a>
                            </li>
                            <li class="uk-hidden@m"><a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon
                                   href="#offcanvas-nav"></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- /NAV -->
        <!-- TEXT -->
        <div class="uk-container uk-flex-auto">
            <form class="uk-form-stacked" method="post" th:href="@{'/collections/new.html'}">
                <fieldset class="uk-fieldset">

                    <legend class="uk-legend" th:text="#{collection.new.header}">Legend</legend>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text" th:text="#{collection.new.name.label}">Name</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" required="required" type="text" name="name" th:placeholder="#{collection.new.name.placeholder}" placeholder="Some text...">
                            </div>
                        </div>
                        <div class="uk-margin uk-grid-divider uk-grid-small" uk-grid>
                            <div>
                                <a class="uk-button uk-button-secondary" th:href="@{/collections.html}" th:text="#{button.cancel.label}">Cancel</a>
                            </div>
                            <div>
                                <button class="uk-button uk-button-default" type="submit" th:text="#{button.save.label}">Speichern</button>
                            </div>
                        </div>
                </fieldset>
            </form>
        </div>
        <!-- /TEXT -->
        <div th:replace="~{index :: footer}"></div>
    </div>
</div>
<!-- OFFCANVAS -->
<div th:replace="~{index :: offset-navigation}" id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
        <ul class="uk-nav uk-nav-default">
            <li><a th:href="@{/}" href="" data-uk-icon="home"></a></li>
            <li class="uk-active"><a th:href="@{/collections.html}" href="">Episoden</a></li>
            <li><a th:href="@{/tags.html}" href="">NFC Tags</a></li>
            <li><a th:href="@{/statistics.html}" href="#">Statistik</a></li>
        </ul>
    </div>
</div>
<!-- /OFFCANVAS -->

</body>
<script th:replace="~{index :: upload}"></script>

<script type="text/javascript">

    var settings = {};
    new TomSelect('#form-stacked-select',settings);

</script>

</html>
