<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index :: header}">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- UIkit CSS -->
    <link rel="stylesheet" th:href="@{/css/uikit.css}"
          href="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script th:src="@{/js/uikit.js}" src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit.min.js"></script>
    <script th:src="@{/js/uikit-icons.js}"
            src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit-icons.min.js"></script>
</head>
<body>
<progress id="js-progressbar" class="upload-progress uk-progress uk-position-absolute" value="0" max="100"
          hidden></progress>

<div class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container uk-background-secondary">
    <img src="/img/pexels-anton-h-145707.jpg" alt="" data-uk-cover data-uk-img>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-z-index uk-position-relative"
         data-uk-height-viewport="min-height: 200" style="background-color: rgba(0, 0, 0, 0.5);">
        <!-- NAV -->
        <div class="uk-position-top" th:replace="~{index :: header-navigation}">
            <div class="uk-container">
                <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar>
                    <div class="uk-navbar-left">
                        <div class="uk-navbar-item"></div>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li class="uk-visible@s"><a th:href="@{/}" href="" data-uk-icon="home"></a></li>
                            <li class="uk-visible@s"><a th:href="@{/collections.html}" href="">Episoden</a></li>
                            <li class="uk-visible@s uk-active"><a th:href="@{/tags.html}" href="">NFC Tags</a></li>
                            <li class="uk-visible@s uk-active">
                                <a class="js-upload" uk-form-custom>
                                    <input type="file" multiple>
                                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Upload
                                    </button>
                                </a>
                            </li>
                            <li class="uk-hidden@m"><a class="uk-navbar-toggle" data-uk-toggle
                                                       data-uk-navbar-toggle-icon href="#offcanvas-nav"></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- /NAV -->
        <!-- TEXT -->
        <div class="uk-section uk-flex-auto uk-flex-row">
            <div class="uk-container">
                <h1 th:text="#{tags.page.heading}">All tags</h1>
                <hr class="uk-divider-icon">
            </div>
            <div class="uk-container uk-margin-top">
                <table class="uk-table uk-table-middle uk-table-divider uk-table-responsive">
                    <thead>
                    <tr>
                        <th th:text="#{tags.table.header.tag}">NFC Tag</th>
                        <th th:text="#{tags.table.header.collection}" class="uk-width-large">Connected Collection</th>
                        <th th:text="#{tags.table.header.duration}" class="uk-width-small">Duration</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tag : ${tags}">
                        <td><a th:href="@{'/tags/' + ${tag.id} + '.html'}">
                            <span data-uk-icon="icon: eye" th:unless="${tag.connectedCollections.isEmpty()}"></span>
                            <span data-uk-icon="icon: eye-slash" th:if="${tag.connectedCollections.isEmpty()}"></span>
                            <span th:text="${tag.name}">13123242342342342342</span>
                        </a>
                        </td>
                        <td>
                            <div th:each="connectedCollection : ${tag.connectedCollections}">
                                <a class="uk-link" data-uk-icon="arrow-right" th:if="${connectedCollection}"
                                   th:href="@{'/collections/' + ${connectedCollection.id} + '.html'}"
                                   th:text="${connectedCollection.name}">Connie auf dem Bauernhof</a>
                            </div>
                        </td>
                        <td>
                            <span th:if="${tag.duration}" th:text="${tag.duration}">12:13</span>
                        </td>
                        <td class="uk-align-right uk-margin-remove">
                            <a class="uk-button uk-button-default uk-margin-small-top" data-uk-icon="cog"
                               th:href="@{'/tags/' + ${tag.id} + '.html'}" href="#">Edit</a>
                            <button class="uk-button uk-button-default uk-margin-small-top trigger-button"
                                    data-uk-icon="play" th:attr="data-id=@{'/trigger/' + ${tag.name}}" href="#">trigger
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /TEXT -->
        <div th:replace="~{index :: footer}"></div>
    </div>
</div>
<!-- OFFCANVAS -->
<div th:replace="~{index :: offset-navigation}" id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
        <ul class="uk-nav uk-nav-default">
            <li><a th:href="@{/}" href="" data-uk-icon="home"></a></li>
            <li><a th:href="@{/collections.html}" href="">Episoden</a></li>
            <li class="uk-active"><a th:href="@{/tags.html}" href="">NFC Tags</a></li>
            <li><a th:href="@{/statistics.html}" href="#">Statistik</a></li>
        </ul>
    </div>
</div>
<!-- /OFFCANVAS -->

</body>
<script th:replace="~{index :: upload}"></script>
<script type="text/javascript">
    window.addEventListener('load', () => {
        var buttons = document.getElementsByClassName('trigger-button');
        for (const button of buttons) {
            button.addEventListener("click", evt => {
                const url = button.getAttribute("data-id");
                fetch(url)
                    .then((response) => {
                        if (response.status !== 200) {
                            UIkit.notification(`<span uk-icon='icon: check'></span> Unable to trigger tag`, {
                                pos: 'top-center',
                                status: 'danger'
                            })
                        } else {
                            UIkit.notification(`<span uk-icon='icon: check'></span> Successfully triggered tag`, {
                                pos: 'top-center',
                                status: 'success'
                            })
                        }
                    });

            })
        }
    })


</script>
</html>
